/* INICIO NAVBAR */

nav .logo {
    width: 10%;
    height: auto;
}

nav .nav-link {
    font-size: 1em;
}

/* FIN NAVBAR */

.acercaDeMi .yofoto {
    width: 40%;
}

.acercaDeMi .mensaje {
    width: 50%;

}

.acercaDeMi .fotoConiHube {
    width: 95%;
    align-content: center;
}

/* INICIO FOOTER */

footer .fa-instagram {
    color: rgb(125,52,175);
}

footer .fa-twitter-square {
    color: rgb(0, 172, 238);
}

footer .fa-facebook {
    color: rgb(59, 89, 152);
}

footer .fa-instagram:hover {
    color: rgb(125,52,175, 0.8);
}

footer .fa-twitter-square:hover {
    color: rgb(0, 172, 238, 0.8);
}

footer .fa-facebook:hover {
    color: rgb(59, 89, 152, 0.8);
}

footer .firma {
    font-size: 0.8em;    
}

footer .firma a {
    text-decoration: none;  
    color: black;
}

footer .firma a:hover {
    text-decoration: none;  
    color: rgb(0, 94, 161);
}

/* FIN FOOTER */