@font-face {
    font-family: kastelovblack;
    src: url(fonts/kastelov-black.otf) format("opentype");
}

@font-face {
    font-family: kastelovregular;
    src: url(fonts/kastelov-regular.otf) format("opentype");
}

@font-face {
    font-family: kastelovmedium;
    src: url(fonts/kastelov-medium.otf) format("opentype");
}

@font-face {
    font-family: kastelovbold;
    src: url(fonts/kastelov-bold.otf) format("opentype");
}

body {
    background-color: rgb(238, 238, 238);
    color: rgb(51,51,51);
    padding-top: 80px;
}

.home {
    width: 100vw;
}

/* ########### INICIO NAVBAR ########### */

nav {
    height: 80px;
    background-color: rgb(238, 238, 238);
}

nav .logo {
    width: 10%;
    height: auto;
}

nav .nav-link {
    font-size: 1em;
    color: rgb(51,51,51);
    font-family: kastelovmedium;
    border-bottom: 5px solid rgb(238, 238, 238) !important;
}

nav .nav-link:hover {
    font-family: kastelovmedium;
    font-size: 1em;
    color: rgb(254, 0, 0) !important;
    border-bottom: 5px solid rgb(0, 62, 126) !important;
}

.nav-link1 {
    font-family: kastelovblack;
}

#navbarNav {
    background-color: rgb(238, 238, 238);
}

/* ########### FIN NAVBAR ########### */

/* ########### INICIO HOME ########### */

.home {
    background-color: rgb(238, 238, 238);
    color: rgb(51,51,51);
}

.home .coniprincipal {
    margin-left: 100px;
    margin-top: 70px;
}

.home .logo {
    width: 250px;
    height: auto;
    margin-left: 100px;
}

.home .logoquieroserconstituyente {
    width: 700px;
    height: auto;
    margin-top: 150px;
    margin-left: 100px;
}

.home .saludo {
    width: 360px;
    height: auto;
    margin-left: 120px;
}

.home .logoudi {
    width: 120px;
    height: auto;
    margin-left: 700px;
}

/* ########### FIN HOME ########### */

/* ########### INICIO ACERCA DE MI ########### */



.mens1 {
    padding-top: 40px;
    margin-left: 85px;
    font-family: kastelovregular;
}

.mens2 {
    margin: 0px 100px;
    font-family: kastelovregular;
    padding-top: 10px;
}

.fotoConiHube {
    width: 78%;
    height: auto;
    margin-right: -70px;
}

.cierreacercademi {
    width: 75%;
    height: auto;
}

/* ########### FIN ACERCA DE MI ########### */

/* ########### INICIO CONSTITUCION DE FUTURO ########### */

.constituciondefuturo {
    width: 100%;
}

.pensamiento {
    font-family: kastelovregular;
}

.pensamiento img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.pensamiento h6 {
    color: rgb(254, 0, 0) !important;
}

.pensamientocont {
    margin-left: 40px;
}

.trabajoConstituyente h3 {
    padding: 40px 0 0 0;
}

.blueh3 {
    font-family: kastelovregular;
    color: rgb(0, 62, 126);
}

.redh3 {
    font-family: kastelovregular;
    color: rgb(254, 0, 0) !important;
}

/* ########### FIN CONSTITUCION DE FUTURO ########### */

/* ########### INICIO PENSAMIENTO ########### */

.pensamientotitulo {
    font-family: kastelovblack;
    color: rgb(0, 62, 126);
}

.pensamiento hr {
    width: 70%;
    height: 3px;
    background-color: rgb(254, 0, 0);
}

.cierrepiensa {
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ########### FIN PENSAMIENTO ########### */

/* ########### INICIO TUVOTOSEGURO ########### */

.votoseguro h1, p, span {
    font-family: kastelovregular;
}

.votoseguro .azul {
    color: rgb(0, 62, 126);
    text-align: end;
}

.votoseguro .rojo {
    color: rgb(254, 0, 0) !important;
    text-align: end;
}

.votoseguro h5 {
    margin: 0;
}

.votoseguro .tvsinicio {
    border-left: 1px solid rgb(0, 62, 126);
    border-bottom: 1px solid rgb(0, 62, 126);
    padding: 30px;
}

.votoseguro .tvscentro {
    border-left: 1px solid rgb(0, 62, 126);
    padding: 30px;
}

.votoseguro .tvscentroesp {
    border-left: 1px solid rgb(0, 62, 126);
    border-top: 1px solid rgb(0, 62, 126);
    border-bottom: 1px solid rgb(0, 62, 126);
    padding: 30px;
}

.votoseguro .tvsfin {
    border-left: 1px solid rgb(0, 62, 126);
    border-top: 1px solid rgb(0, 62, 126);
    padding: 30px;
}

/* ########### FIN TUVOTOSEGURO ########### */

/* ########### INICIO TERRENO ########### */

.quieroescucharte {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.terreno #homeimg {
    width: 300px;
    height: 300px;
    display: inline-block !important;
    padding: 10px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

/* ########### FIN TERRENO ########### */

/* ########### INICIO TERRENO ########### */

.aparicionesenprensa {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prensa #homeimg {
    width: 300px;
    height: 300px;
    display: inline-block !important;
    padding: 10px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

/* ########### FIN TERRENO ########### */

.elmercurio {
    background-color: rgb(238, 238, 238);
}

.elmercuriophoto {
    width: 100vw;
    height: auto;
    background-color: rgb(238, 238, 238);
}

/* ########### INICIO FOOTER ########### */

footer {
    background-color: rgb(238, 238, 238);
}

footer .headfoot {
    text-align: center;
    color: rgb(0, 62, 126);
    font-family: kastelovregular;
}

footer .fa-instagram {
    color: rgb(125,52,175);
}

footer .fa-twitter-square {
    color: rgb(0, 172, 238);
}

footer .fa-facebook {
    color: rgb(59, 89, 152);
}

footer .fa-whatsapp-square {
    color: rgb(0, 211, 95);
}

footer .fa-instagram:hover {
    color: rgb(125,52,175, 0.6);
}

footer .fa-twitter-square:hover {
    color: rgb(0, 172, 238, 0.6);
}

footer .fa-facebook:hover {
    color: rgb(59, 89, 152, 0.6);
}

footer .fa-whatsapp-square:hover {
    color: rgb(0, 211, 95, 0.6);
}

footer .firma {
    font-size: 0.8em;    
}

footer .firma a {
    text-decoration: none;  
    color: black;
}

footer .firma a:hover {
    text-decoration: none;  
    color: rgb(0, 94, 161);
}

footer .cierrefooter {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

footer .cuentocontigo {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* ########### FIN FOOTER ########### */